modules/validation/src/test/resources/validation-false-test-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:validate="http://www.mulesoft.org/schema/mule/validate"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/validate http://www.mulesoft.org/schema/mule/validate/current/mule-validate.xsd">

	<flow name="falseValid">
        <validate:false expression="false" />
        <validate:false expression="#[false]" />
	</flow>
	
	<flow name="falseInvalid">
        <validate:false expression="true" />
	</flow>
	
	<flow name="falseCustomInvalid">
        <validate:false expression="#[true]" exception-class="#[exceptionClass]" message="#[customMessage]" />
	</flow>

</mule>
