modules/validation/src/test/resources/validation-credit-card-test-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:validate="http://www.mulesoft.org/schema/mule/validate"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/validate http://www.mulesoft.org/schema/mule/validate/current/mule-validate.xsd">

	<flow name="creditCardValid">
        <validate:credit-card-number credit-card-number="5121749719020831" credit-card-type="MASTERCARD" />
	</flow>
	
	<flow name="creditCardInvalid">
        <validate:credit-card-number credit-card-number="#[ccNumber]" credit-card-type="#[ccType]" />
	</flow>
	
	<flow name="creditCardCustomInvalid">
        <validate:credit-card-number credit-card-number="#[ccNumber]" credit-card-type="#[ccType]" exception-class="#[exceptionClass]" message="#[customMessage]" />
	</flow>

</mule>
