modules/validation/src/test/resources/validation-true-test-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:validate="http://www.mulesoft.org/schema/mule/validate"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/validate http://www.mulesoft.org/schema/mule/validate/current/mule-validate.xsd">

	<flow name="trueValid">
        <validate:true expression="true" />
        <validate:true expression="#[true]" />
	</flow>
	
	<flow name="trueInvalid">
        <validate:true expression="false" />
	</flow>
	
	<flow name="trueCustomInvalid">
        <validate:true expression="#[false]" exception-class="#[exceptionClass]" message="#[customMessage]" />
	</flow>

</mule>
