modules/validation/src/test/resources/validation-not-null-test-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:validate="http://www.mulesoft.org/schema/mule/validate"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/validate http://www.mulesoft.org/schema/mule/validate/current/mule-validate.xsd">

	<flow name="notNullValid">
        <validate:not-null expression="not null" />
	</flow>
	
	<flow name="notNullInvalid">
        <validate:not-null expression="#[null]" />
	</flow>
	
	<flow name="notNullCustomInvalid">
        <validate:not-null expression="#[nullValue]" exception-class="#[exceptionClass]" message="#[customMessage]" />
	</flow>

</mule>
