modules/validation/src/test/resources/validation-email-test-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:validate="http://www.mulesoft.org/schema/mule/validate"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/validate http://www.mulesoft.org/schema/mule/validate/current/mule-validate.xsd">

	<flow name="emailValid">
		<validate:email email="mule@mulesoft.com" />
	</flow>
	
	<flow name="emailInvalid">
		<validate:email email="#[mail]" />
	</flow>
	
	<flow name="emailCustomInvalid">
		<validate:email email="#[mail]" exception-class="#[exceptionClass]" message="#[customMessage]" />
	</flow>
    
</mule>
