modules/validation/src/test/resources/validation-length-test-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:validate="http://www.mulesoft.org/schema/mule/validate"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/validate http://www.mulesoft.org/schema/mule/validate/current/mule-validate.xsd">

  <flow name="lengthValid">
        <validate:length value="john" min-length="1" max-length="4" />
    </flow>
    
    <flow name="lengthInvalid">
        <validate:length value="#[value]" min-length="#[min]" max-length="#[max]" />
    </flow>
    
    <flow name="lengthCustomInvalid">
        <validate:length value="#[value]" min-length="#[min]" max-length="#[max]" exception-class="#[exceptionClass]" message="#[customMessage]" />
    </flow>
    
</mule>
