modules/validation/src/test/resources/validation-isbn-test-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:validate="http://www.mulesoft.org/schema/mule/validate"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/validate http://www.mulesoft.org/schema/mule/validate/current/mule-validate.xsd">

    <flow name="isbn10Valid">
        <validate:isbn10 isbn="0201530821"/>
    </flow>
    
    <flow name="isbn10Invalid">
        <validate:isbn10 isbn="#[isbn]"/>
    </flow>
    
    <flow name="isbn10CustomInvalid">
        <validate:isbn10 isbn="#[isbn]" exception-class="#[exceptionClass]" message="#[customMessage]" />
    </flow>
    
    <flow name="isbn13Valid">
        <validate:isbn13 isbn="9781413304541"/>
    </flow>
    
    <flow name="isbn13Invalid">
        <validate:isbn13 isbn="#[isbn]"/>
    </flow>
    
    <flow name="isbn13CustomInvalid">
        <validate:isbn13 isbn="#[isbn]" exception-class="#[exceptionClass]" message="#[customMessage]" />
    </flow>
    
</mule>
