modules/validation/src/test/resources/validation-empty-test-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:validate="http://www.mulesoft.org/schema/mule/validate"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/validate http://www.mulesoft.org/schema/mule/validate/current/mule-validate.xsd">

 	<flow name="emptyStringValid">
    	<validate:not-empty value="sldkgh" />
    </flow>
    
    <flow name="emptyStringInvalid">
    	<validate:not-empty value="#[value]" />
    </flow>
    
    <flow name="emptyStringCustomInvalid">
    	<validate:not-empty value="#[value]" exception-class="#[exceptionClass]" message="#[customMessage]" />
    </flow>
    
    <flow name="emptyCollectionValid">
    	<validate:not-empty value="#[['apple']]" />
    </flow>
    
    <flow name="emptyCollectionInvalid">
    	<validate:not-empty value="#[value]" />
    </flow>
    
    <flow name="emptyCollectionCustomInvalid">
    	<validate:not-empty value="#[value]" exception-class="#[exceptionClass]" message="#[customMessage]" />
    </flow>
    
    <flow name="emptyMapValid">
    	<validate:not-empty value="#[notEmpty]" />
    </flow>
    
    <flow name="emptyMapInvalid">
    	<validate:not-empty value="#[emptyMap]" />
    </flow>
    
	<flow name="emptyMapCustomInvalid">
    	<validate:not-empty value="#[emptyMap]" exception-class="#[exceptionClass]" message="#[customMessage]" />
    </flow>
    
</mule>
